language: go

go:
  - 1.12.x

env:
  global:
    - GO111MODULE=on

script:
  - make ci
  - go mod tidy

deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux

cache:
  directories:
    - $HOME/gopath/pkg/mod
