module "{{.opts.Name}}" {
  source        = "{{.opts.Core.Terraform.Module.Source}}"
  version       = "{{.opts.Core.Terraform.Module.Version}}"
  handler       = "{{.opts.Name}}"
  function_name = "tf-{{.opts.Name}}"
  s3_bucket     = "tf-{{.opts.Name}}-deployment-{{.opts.Core.Aws.Region}}"
  s3_key        = "v0.1.0/{{.opts.Name}}.zip"

  event {
    type                = "cloudwatch-scheduled-event"
    schedule_expression = "rate(1 minute)"
  }
}
