module "{{.opts.AppName}}" {
  source        = "spring-media/lambda/aws"
  version       = "{{.opts.Terraform.ModuleVersion}}"
  handler       = "{{.opts.AppName}}"
  function_name = "tf-{{.opts.AppName}}"
  s3_bucket     = "tf-{{.opts.AppName}}-deployment-{{.opts.Aws.Region}}"
  s3_key        = "v0.1.0/{{.opts.AppName}}.zip"

  event {
    type                = "cloudwatch-scheduled-event"
    schedule_expression = "rate(1 minute)"
  }
}
