module "{{.opts.App.Name}}" {
  source  = "{{.opts.Terraform.Module.Source}}"
  version = "{{.opts.Terraform.Module.Version}}"

  filename      = "${path.module}/../bin/{{.opts.App.Name}}.zip"
  function_name = "tf-{{.opts.App.Name}}"
  handler       = "{{.opts.App.Name}}"

  event {
    type                = "cloudwatch-scheduled-event"
    schedule_expression = "rate(1 minute)"
  }
}
