# {{.opts.App.Name}}

Thank you for generating your Lambda project with Func.

## dependencies

- (dev) [Go 1.11+](https://golang.org/dl/)
- (deploy) [terraform {{.opts.Terraform.Version}}](https://www.terraform.io/downloads.html)

## Quick start

To build and deploy the Lambda function on AWS run

```
$ make init package deploy
```

and check the AWS Lambda console.

To destroy the generated infrastructure run

```
$ make destroy
```

Run `make help` to see all available targets.

## What Next?

See [terraform-aws-lambda](https://github.com/spring-media/terraform-aws-lambda) for available event sources and configuration options.

[Powered by Func](https://github.com/moritzzimmer/func)
